#cover {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #phrase {
    text-align: center;
    cursor: pointer;
    h1 {
      font-size: 75px;
      b {
        background: linear-gradient(235.81deg, #e100ff 20.53%, #7f00ff 86.31%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  //hover
  #phrase:hover {
    transition: 0.8s;
    transform: scale(1.1);
  }

  #strengths {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
    margin-top: 100px;
    .strength {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .icon {
        background: linear-gradient(239.33deg, #e100ff 3.46%, #7f00ff 92.21%);
        border: 1px solid #ffffff;
        box-shadow: 0px 0px 30px #7f43ff,
          inset 0px 0px 4px rgba(255, 255, 255, 0.22);
        padding: 10px;
        width: 90px;
        height: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        cursor: pointer;
        img {
          width: 50px;
        }
      }

      //hover
      .icon:hover {
        background: linear-gradient(239.33deg, #e100ff 3.46%, #7f00ff 92.21%);
        box-shadow: 0px 0px 30px #7f43ff,
          inset 0px 0px 4px rgba(255, 255, 255, 0.22);
        transition: 0.8s;
        transform: scale(1.1);
      }

      .description {
        margin-top: 50px;
        background: linear-gradient(
          180deg,
          #1b0f4e 0%,
          rgba(27, 15, 78, 0) 100%
        );
        filter: drop-shadow(0px -21px 30px rgba(127, 67, 255, 0.6));
        border-radius: 15px;
        padding: 42px;

        p {
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: #c6c6c6;
        }
      }

      .description:hover {
        background: linear-gradient(
          180deg,
          #1b0f4e 0%,
          rgba(27, 15, 78, 0) 100%
        );
        filter: drop-shadow(0px -21px 30px rgba(127, 67, 255, 0.6));
        transition: 0.8s;
        transform: scale(1.1);
      }
    }

    .strength:hover {
      transition: 0.8s;
      transform: scale(1.1);
    }
  }
}

//responsive
@media (max-width: 767px) {
  #cover {
    #phrase {
      h1 {
        font-size: 50px;
      }
    }
    #strengths {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      .strength {
        .icon {
          width: 60px;
          height: 60px;
          img {
            width: 30px;
          }
        }
        .description {
          padding: 20px;

          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #cover {
    #phrase {
      h1 {
        font-size: 60px;
      }
    }
    #strengths {
      .strength {
        .icon {
          width: 60px;
          height: 60px;
          img {
            width: 30px;
          }
        }
        .description {
          padding: 20px;

          p {
            font-size: 14px;
          }
        }
      }
    }
  }
}
