<div id="navbar">
  <div id="logo">
    <div id="icon">
      <img src="assets/images/logo.png" alt="Logo" />
    </div>
    <div id="name">
      <h2>Alan.DEV</h2>
    </div>
  </div>
  <div id="links">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/portfolio" routerLinkActive="active">Services</a>
    <a routerLink="/blog" routerLinkActive="active">Blog</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </div>
  <div id="contact">
    <button>Contact</button>
  </div>
</div>
