<div id="footer">
  <!--Company info, contact info, our services, our locations-->
  <div class="info" id="company">
    <h3 class="title">Company Info</h3>
    <p class="description">
      Reach out to us anytime and lets create a better future for all technology
      users together, forever. We are open to all types of collab offers and
      tons more.
    </p>
  </div>

  <div class="info" id="contact">
    <h3 class="title">Contact Info</h3>
    <p class="description">
      <b>Phone:</b> +1 (555) 555-5555 <br />
      <b>Email:</b>
      <a href="mailto:" class="link"> </a>
      <br />
      <b>Address:</b> 1234 Street Name, City, Country
    </p>
  </div>
  <!--OUR SERVICES-->
  <div class="info" id="our-services">
    <h3 class="title">Our Services</h3>
    <p class="description">
      <a href="#" class="link">Web Development</a> <br />
      <a href="#" class="link">Mobile Development</a> <br />
      <a href="#" class="link">UI/UX Design</a> <br />
      <a href="#" class="link">SEO</a> <br />
      <a href="#" class="link">Content Creation</a> <br />
      <a href="#" class="link">Digital Marketing</a> <br />
      <a href="#" class="link">Branding</a> <br />
      <a href="#" class="link">Consulting</a> <br />
    </p>
  </div>
  <!--OUR LOCATIONS-->
  <div class="info" id="our-locations">
    <h3 class="title">Our Locations</h3>
    <p class="description">
      <a href="#" class="link">United States</a> <br />
      <a href="#" class="link">Canada</a> <br />
      <a href="#" class="link">Mexico</a> <br />
      <a href="#" class="link">Brazil</a> <br />
      <a href="#" class="link">United Kingdom</a> <br />
      <a href="#" class="link">France</a> <br />
      <a href="#" class="link">Germany</a> <br />
      <a href="#" class="link">Italy</a> <br />
      <a href="#" class="link">Spain</a> <br />
      <a href="#" class="link">Russia</a> <br />
      <a href="#" class="link">China</a> <br />
      <a href="#" class="link">Japan</a> <br />
      <a href="#" class="link">India</a> <br />
      <a href="#" class="link">Australia</a> <br />
      <a href="#" class="link">South Africa</a> <br />
    </p>
  </div>
</div>
<div id="copy-right">
  <p>
    &copy; 2021 Alan.DEV. All rights reserved. <br />
    <a href="#" class="link">Terms of Service</a> |
    <a href="#" class="link">Privacy Policy</a>
  </p>
</div>
